<% if @artists.empty? %>
<p> There are no artists in the database. </p>
<% else %>
  <h3>The artists that I really like are:</h3>
  <ul>
    <% @artists.each do |artist|%>

      <li><%= link_to artist.name, artist %></li>
    <%end %>
  </ul>

<% end %>



