<% if @songs.empty? %>
<p> There are no albums in the database. </p>
<% else %>
  <h3>The songs that I really like are:</h3>
  <ul>
    <% @songs.each do |song|%>
      <li>
        <%= link_to song.title, song %>
        (<%= song.album.name %> by
        <%= !song.album.artist.nil? ? song.album.artist.name : song.album.band.name  %>)
      </li>
    <%end %>
  </ul>
<% end %>