<% if @albums.empty? %>
<p> There are no albums in the database. </p>
<% else %>
  <h3>The albums that I really like are:</h3>
  <ul>
    <% @albums.each do |album|%>

      <li><%= link_to album.name, album %></li>
    <%end %>
  </ul>

<% end %>