<% if @bands.empty? %>
<p> There are no bands in the database. </p>
<% else %>
  <h3>The bands that I really like are:</h3>
  <ul>
    <% @bands.each do |band|%>
      <li><%= link_to band.name, band %></li>
    <%end %>
  </ul>

<% end %>



